body{
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.index-button1-border {
  border: 2px solid #01b2a1;
}
.button_gradient_bg {
  background: linear-gradient(
90deg
,#01b2a1,#3d6ecc);
}
.button_gradient_bg:hover {
  background: linear-gradient(
90deg
,#1bccbb,#5788e6 100%);
}
.footer_override, .navbar_override {
  background-color: #021633;
}
.selected {
  transform: scale(1.1);
  border-bottom: 1px solid #00c9a7;
}
.text-primary {
  --tw-text-opacity: 1;
  color: rgba(0,201,167,var(--tw-text-opacity));
}

.bg-gradient {
  background-image: url(../images/background/services_background.jpg);
}