doctype html
html(lang="en")
	head
		title Page title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description" content="")
		meta(name="author" content="")
		<link rel="preconnect" href="https://fonts.gstatic.com">

		//build:css css/styles.min.css
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")

		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.2/tailwind.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
		link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
		link(rel="stylesheet" href="css/styles.css")
		//endbuild

		link(rel="icon" href="favicon.ico")
		link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")

		//build:css js/main.min.js
		script(src="js/jquery-2.2.4.min.js")
		script(src="js/jquery.easy-autocomplete.min.js")
		script(src="https://unpkg.com/aos@next/dist/aos.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
		script(src="js/custom-script-2-v3.js")
		script(src="js/main.js")
		//endbuild

	body.antialiased.bg-body.text-body.font-body.relative

		.relative.navbar_override
			.max-w-7xl.mx-auto.px-6
				.flex.justify-between.items-center.border-gray-100.py-6(class='md:justify-start md:space-x-10')
					.flex.flex-shrink-0.justify-start(class='lg:w-0 lg:flex-1')
						a(href='/')
							span.sr-only Fomocraft
							div(style='display:inline-block;max-width:100%;overflow:hidden;position:relative;box-sizing:border-box;margin:0')
								div(style='box-sizing:border-box;display:block;max-width:100%')
									img(style='max-width:100%;display:block;margin:0;border:none;padding:0' alt='' aria-hidden='true' role='presentation' src='data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4IiBoZWlnaHQ9IjM2LjciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIi8+')
								img(alt='logo' src='https://fomocraft.com/_next/image?url=%2Flogo1.png&w=128&q=75' decoding='async' style='position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%')
					.z-40.-mr-2.-my-2(class='md:hidden')
						button.rounded-md.p-2.inline-flex.items-center.justify-center.text-primary(type='button' aria-expanded='false')
							span.sr-only Open menu
							svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
								path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16')
					nav.hidden.space-x-10(class='md:flex')
						a.nav-item.text-base.font-light.text-primary.selected(href='/') Home
						a.nav-item.text-base.font-light.text-primary(href='/services') Services
						a.nav-item.text-base.font-light.text-primary(href='/portfolio') Portfolio
						a.flex.items-center.rounded-md(target='_blank' href='mailto:fomocraft@gmail.com')
							span.text-base.font-light.text-primary Contact
							svg.h-5.w-5.ml-2(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='#00c9a7')
								path(d='M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z')
								path(d='M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z')
						a.-mr-3.pr-3.flex.items-center.rounded-md(target='_blank' href='https://twitter.com/fomocraft')
							span.whitespace-nowrap.text-primary
								| Follow
								| Us
							svg.h-6.w-6.ml-2(fill='#00c9a7' viewbox='0 0 24 24' aria-hidden='true')
								path(d='M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84')
					.hidden.items-center.justify-end(class='md:flex md:flex-1 lg:w-0')
						a.whitespace-nowrap.text-base.font-light.text-gray-500(href='#' class='hover:text-gray-900')
						a.ml-8.whitespace-nowrap.inline-flex.items-center.justify-center.px-4.py-2.border.border-transparent.rounded-md.shadow-sm.text-base.font-light(href='#')


		section(class="text-center bg-center bg-cover bg-no-repeat" style="background-image: url(./images/background/landingbackground.jpg)")
			div(class="w-full py-40 lg:py-52 px-4" style="background-image: url(./images/background/background_transparent.png)")
				div(class="w-full max-w-2xl mx-auto" data-aos="fade-up")
					h2(class="text-white text-5xl mt-2 mb-6 leading-tight font-semibold font-heading" ) No paper plane can be made without paper
					p(class="mb-8 text-gray-300 leading-relaxed" ) Professional, dedicated, local. Dunder Mifflin is on its best patch to change the way you think about paper. That’s us - people who sell limitless paper in the paperless world.
					div(class=" max-w-sm mx-auto flex flex-row justify-evenly ")
						a(href="#" class="backdrop-opacity-10 hover:bg-blue-900 hover:bg-opacity-30  index-button1-border mb-4 mx-auto inline-flex items-center sm:px-12 px-10 py-2 text-base rounded-full text-white font-sophia" ) Sign up
						a(href="#" class="inline-flex mb-4 mx-auto button_gradient_bg items-center sm:px-12 px-10 py-2 text-base  rounded-full text-white font-sophia" ) Learn more

		section(class="text-white bg-center bg-cover bg-no-repeat py-40 px-4" style="background-image: url(./images/background/services_background.jpg)")
			div(class="text-center")
				h2(class="text-3xl text-center mt-2 mb-12 font-semibold font-heading" ) Features of Dunder Mifflin
			
			- var services = [{title:"Marketing", desc: "With dozens of successful token launches under our belt, we’re intimate with all the ins and outs of crypto marketing. As the industry changes at light speed, so do we.", img: "images/services/about_1.jpg"}, {title:"Marketing", desc: "With dozens of successful token launches under our belt, we’re intimate with all the ins and outs of crypto marketing. As the industry changes at light speed, so do we.", img: "images/services/about_2.jpg"}, {title:"Marketing", desc: "With dozens of successful token launches under our belt, we’re intimate with all the ins and outs of crypto marketing. As the industry changes at light speed, so do we.", img: "images/services/about_3.jpg"}, {title:"Marketing", desc: "With dozens of successful token launches under our belt, we’re intimate with all the ins and outs of crypto marketing. As the industry changes at light speed, so do we.", img: "images/services/about_4.jpg"}]
			div(class="mt-12 px-4 overflow-hidden  md:flex-row md:max-w-3xl mx-auto flex-wrap flex flex-col" data-aos="fade-left")
				each item in services
					div(class="pt-12 my-6 h-80 max-w-xs mx-auto flow-root border-2 border-gray-600  bg-cover bg-no-repeat rounded-3xl relative overflow-hidden")
						img(class="w-full object-cover object-center absolute top-0" src=item.img)
						div(class="z-10 px-6 relative")
							h3(class="text-3xl font-sophia font-bold text-primary" )=item.title
							p(class="tracking-tight mt-5 text-white text-sm")=item.desc

		.bg-center.py-20.bg-cover.bg-no-repeat.bg-heretohelp.relative.bg-white(style='background-image: url(./images/background/heretohelp.jpg')
			.relative.max-w-7xl.mx-auto.px-4.py-12(class='sm:px-6 lg:px-8 lg:py-16')
				.flex-col.flex(class='md:mx-auto md:w-1/2' data-aos="fade-right")
					h2.text-base.text-xl.font-black.font-sophia.uppercase.text-center.text-white
						| Looking for a strategic
						| investor or marketing advisor?
					p.my-8.text-white.text-3xl.font-black.font-sophia.text-center Look no further!
					p.mt-3.text-center.text-sm.text-white
						| Fomocraft maintains a team of global experts that provide
						| continuous access to top-notch advisory throughout your Fomocraft engagement. Whether you&rsquo;re looking to launch
						| the next big thing in blockchain or just need to put the finishing touches on your crypto masterpiece,
						| successful projects utilize Fomocraft
						a.underline(href='/services') services
						| to develop their brand
						| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;and build their runway for long-term success!
					.mt-12.inline-flex.mx-auto.rounded-md.shadow
						a.inline-flex.text-xl.items-center.justify-center.px-5.py-3.border.border-transparent.text-base.font-black.font-sophia.rounded-full.text-gray-800.bg-white(href='mailto:fomocraft@gmail.com' class='hover:bg-gray-50')
							| Get
							| In Touch
							svg.-mr-1.ml-3.h-5.w-5.text-grey-800(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
								path(d='M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z')
								path(d='M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z')


		footer.footer_override
			.max-w-7xl.mx-auto.py-12.px-4.overflow-hidden(class='sm:px-6 lg:px-8')
				div(data-aos="fade-up")
					h2.max-w-3xl.mx-auto.mt-6.text-2xl.text-center.font-extrabold.text-white(class='sm:text-2xl')
					.mx-auto.text-center.mt-6
						.mx-auto.button_gradient_border.inline-flex.items-center.px-5.border.border-transparent.text-base.font-medium.rounded-full.shadow-sm.text-white(class='focus:outline-none')
							a.inline-flex.items-center.px-5.py-2.backdrop-opacity-10.index-button1-border.mb-4.mx-auto.inline-flex.items-center.px-5.py-2.text-base.rounded-full.text-white.font-sophia.rounded-full.shadow-sm.text-white(target='_blank' href='https://twitter.com/fomocraft' class='hover:bg-blue-900 hover:bg-opacity-30')
								| Follow
								| us
								svg.h-6.w-6.ml-2(fill='currentColor' viewbox='0 0 24 24' aria-hidden='true')
									path(d='M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84')
					p.mt-8.text-center.text-base.text-white &copy; 2021 Fomocraft, Inc. All rights reserved.
